#app
  position relative
  width 100%
  height 100%
  background url("./assets/bg.jpg") center no-repeat
  overflow-y auto
  .hoverBanner
    position relative
    height 100%
    z-index 1
  .slideBanner
    position fixed
    width 100%
    height 100%
  .center
    width 1200px
    margin 0 auto
  .main
    min-height 100%
    background #ffffff
    opacity .75
  .blogTitle
    display flex
    align-items center
    min-height 150px
    h1
      font-size 22px
      color #ffffff
      opacity .5
  .innerMain
    padding 20px
    .navBar
      display flex
      align-items center
      padding-bottom 20px
      //min-height 40px
      //margin-bottom 20px
      //background #42b983
    .divideCenter
      display flex
      .mainContent
        flex 1
      .sidePart
        flex 0 0 200px
        width 200px
        margin-left 20px
  .footer
    display flex
    align-items center
    justify-content center
    color #ffffff
    opacity .5
    min-height 50px

